.animationlist {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
}

.animationlist li {
    margin: 50px 5px;
    text-align: left;
}

.animationlist button {
    border: none;
    padding: 0px;
    cursor: pointer;
}

.animationlist li img {
    width: 80px;
    height: auto;
}

.animationlist .television {
    width: 850px;
    height: auto;
    align-items: right;
}

/* Popover Styles */

:popover-open {
    font-size: 16px;
    line-height: 1.6;
    width: 45%;
    height: 70%;
    margin: auto;
    padding: 20px;
    border: 3px solid #3e3e3e;
}

:popover-open h2 {
    text-align: left;
    margin: 10px;
    font-size: 32px;
}


:popover-open .description {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
}

:popover-open .description li {
    text-align: justify;
    margin: 10px;
}

:popover-open .description li img {
    width: 250px;
    height: auto;
}

:popover-open h3 {
    text-align: left;
    margin-top: 30px;
    margin: 10px;
    font-size: 24px;
}


:popover-open .screenshots {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

:popover-open .screenshots li {
    margin: 0 10px;
    text-align: center;
}

:popover-open .screenshots li img {
    width: 325px;
    height: auto;
    border: 1px solid #3e3e3e;
}
