body {
    background-color: #212738;
    color: antiquewhite;
    text-align: center;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin: 100px 250px;
}

button {
    background-color: rgb(131, 165, 194);
    font-size: 24px;
    padding: 20px 30px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}