.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.links li {
    margin: 50px 75px;
    text-align: center;
}

.links li a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.links li a img {
    width: 300px;
    height: auto;
}