.navbutton {
  background-color: #333;
  color: white;
  padding: 20px 30px;
  margin: 20px;
  font-size: 24px;
  font-style: bold;
  border: none;
  cursor: pointer;
}

.navbar {
  position: relative;
}

.medianav {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
}

.medianav a {
  color: white;
  background-color:#333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.medianav a:hover {
  background-color: #222;
}

.navbar:hover .medianav {
  display: block;
}

.navbar:hover .navbutton {
  background-color: #222;
}