.musiclist {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: left;
}

.musiclist li {
    margin: 50px 5px;
    text-align: left;
}

.musiclist button {
    border: none;
    padding: 0px;
    cursor: pointer;
}

.musiclist li img {
    width: 80px;
    height: auto;
}

.musiclist .phonograph {
    width: 825px;
    height: auto;
    align-items: right;
}